<!-- <h1>Hello world</h1> -->
<app-menu></app-menu>
<br />
<div class="home__cards">
  <app-card *ngFor="let art of data" [cardData]="art"></app-card>
  <!-- <p-card
    class="card"
    [header]="artistName"
    [subheader]="artistSubname"
    styleClass="p-card-shadow"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img
        class="card__image"
        src="https://images.squarespace-cdn.com/content/v1/59f8dc932278e733c53f2e29/1530731510365-O4WNOX3THD2X1C57PNAI/image.png"
        alt="Card image"
      />
    </ng-template>
    {{ artistDescription }}
    <ng-template pTemplate="footer">
      Social media:
      <i class="pi pi-instagram"></i>
      <i class="pi pi-facebook"></i>
      <i class="pi pi-twitter"></i>
      <button
        pButton
        type="button"
        class="p-button-warning"
        label="More"
        iconPos="right"
      ></button>
    </ng-template>
  </p-card>

  <p-card
    class="card"
    [header]="artistName"
    [subheader]="artistSubname"
    styleClass="p-card-shadow"
    [style]="{ width: '360px' }"
  >
    <ng-template pTemplate="header">
      <img
        class="card__image"
        src="https://assets2.ello.co/uploads/asset/attachment/6996274/ello-hdpi-4d1e82a6.jpg"
        alt="Card image"
      />
    </ng-template>
    {{ artistDescription }}
    <ng-template pTemplate="footer">
      Social media:
      <i class="pi pi-instagram"></i>
      <i class="pi pi-facebook"></i>
      <i class="pi pi-twitter"></i>
      <button
        pButton
        type="button"
        class="p-button-warning"
        label="More"
        iconPos="right"
      ></button>
    </ng-template>
  </p-card> -->
</div>
