<p-menubar [model]="items"></p-menubar>

<div class="pipes__container">
  <!-- <h1>PIPES</h1>
  <br />
  Please choose one option:
  <button class="button" [routerLink]="'basicos'">basicos</button>
  <button class="button" [routerLink]="'no-comunes'">no comunes</button>
  <button class="button" [routerLink]="'numeros'">numeros</button>
  <button class="button" [routerLink]="'ordenar'">ordenar</button> -->
  <router-outlet></router-outlet>
  <!-- <br /><br /> -->
  <!-- <p>Pipes personalizados:</p> -->
</div>
